@tailwind base;
@tailwind components;
@tailwind utilities;


body {
    overflow-x: scroll;
}

#category a.active {
    background-color: crimson ;
    color: white;
}

.dark-theme {
    background-color:rgb(29, 35, 42);
    color: white ;
}